<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mini Drug Monographs for your Travel Med Kits</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="https://html5-templates.com/" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" type="text/css" href="public/normalize.css">
        <link rel="stylesheet" type="text/css" href="public/main.css">
    </head>
    <body>
      {% for drug in drug_data %}
        {% for copy in range(0, drug.copies) %}
          <div class="monograph">
            <div class="packedOn">
              <span class="name">{{ drug.name }}</span>
            </div>
            <div class="section">
              <span class="label">Generic Name:</span>
              <span class="content">{{ drug.genericName }}</span>
            </div>
            <div class="packedOn">
              <span class="packedOnText">Expires:</span>
            </div>
            <div class="section">
              <span class="label">What It Does:</span>
              <span class="content">{{ drug.whatItDoes }}</span>
            </div>
            <div class="section">
              <span class="label">When To Use:</span>
              <span class="content">{{ drug.whenToUse }}</span>
            </div>
            <div class="section">
              <span class="label">Active Ingredient:</span>
              <span class="content">{{ drug.activeIngredient }}</span>
            </div>
            <div class="section">
              <span class="label">Dosing Interval</span>
              <span class="content">{{ drug.dosingInterval }}</span>
            </div>
            <div class="section">
              <span class="label">Not To Exceed:</span>
              <span class="content">{{ drug.notToExceed }}</span>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </body>
</html>
